*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
.header{
    padding: 40px 0;
}

.header .logo{
    width: 70%;
}

.item-play{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-play .play{
    padding: 7px;
}

.item-play .play .fa-circle-play{
    font-size: 350%;
} 

.radio-info{
    font-size: 16px;
}

.radio-info .radio-frequency{
    display: block;
}

/* NAVBAR  */
.navbar{
    width: 100%;
    height: 60px;
    background-color: #ff0216;
}

.navbar .wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20%;
}

.navbar a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.navbar .underline::after{
    content: "";
    height: 1px;
    width: 0;
    background-color: #fff;
    display: block;
    transition: all 300ms
}

.navbar .underline:hover::after{
    width: 100%;
    transition: 0.3s;
}

/* MOST READ */
.most-read{
    padding: 30px 0;    
}

.title-section{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: solid 1px #ced1d6;
    color: #161616;
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}

.title-section .text{
    display: inline-block;
    position: relative;
    top: -10px;
    background: #fff;
    padding: 0 10px 0 0;
}

.most-read .title-section .text::before{
    content: "Lo más leido";
}

.social-networks .title-section .text::before{
    content: "Síguenos en redes sociales";
}


.title-section .text::after{
    content: "";
    height: 4px;
    width: 48px;
    background-color:#ff0216;
    display: block;
}

.most-read .info{
    margin: 20px 0;
}

.most-read .info .title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.most-read .info .title .underline{
    text-decoration: none;
    background-image: linear-gradient(#161616, #161616);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 1px;
    transition: background-size 0.3s ease-in-out;
    color: #161616;
}

.most-read .info .title .underline:hover{
    background-size: 100% 1px;
    color: inherit;
}

.most-read .info .date{
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    color: #9c9c9c;
    padding: 1px 0 0 0;
}

.most-read .info .abstract{
    font-size: 16px;
    display: block;
    color: #161616BF;
    padding: 1px 0 0 0;
}