*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
}

/* HEADER */
.header{
    padding: 30px 0;
}

.header .logo{
    width: 70%;
}

.item-play{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-play .play{
    padding: 7px;
}

.item-play .play .fa-circle-play{
    font-size: 350%;
} 

.radio-info{
    font-size: 16px;
}

.radio-info .radio-frequency{
    display: block;
}

/* NAVBAR  */
.navbar{
    width: 100%;
    height: 60px;
    background-color: #ff0216;
}

.navbar .wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20%;
}

.navbar a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.navbar .underline::after{
    content: "";
    height: 1px;
    width: 0;
    background-color: #fff;
    display: block;
    transition: all 300ms
}

.navbar .underline:hover::after{
    width: 100%;
    transition: 0.3s;
}

/* MOST READ */
.most-read{
    padding: 30px 0;    
}

.title-section{
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: solid 1px #ced1d6;
    color: #161616;
    font-size: 17px;
    line-height: 21px;
    font-weight: 700;
    padding: 0;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}

.title-section .text{
    display: inline-block;
    position: relative;
    top: -10px;
    background: #fff;
    padding: 0 10px 0 0;
}

.most-read .title-section .text::before{
    content: "Lo más leido";
}

.social-networks .title-section .text::before{
    content: "Síguenos en redes sociales";
}

/* CATEGORIES TITLE */
.categories .current-news .title-section .text::before{
    content: "Actualidad";
}
.categories .politics .title-section .text::before{
    content: "Política";
}
.categories .world .title-section .text::before{
    content: "Mundo";
}
.categories .sports .title-section .text::before{
    content: "Deportes";
}
.categories .economy .title-section .text::before{
    content: "Economía";
}
.categories .cultural .title-section .text::before{
    content: "Cultural";
}


.title-section .text::after{
    content: "";
    height: 4px;
    width: 50px;
    background-color:#ff0216;
    display: block;
}

.most-read .info{
    margin: 20px 0;
}

.most-read .info .title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.most-read .info .title .underline{
    text-decoration: none;
    background-image: linear-gradient(#161616, #161616);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 1px;
    transition: background-size 0.3s ease-in-out;
    color: #161616;
}

.most-read .info .title .underline:hover{
    background-size: 100% 1px;
    color: inherit;
}

.most-read .info .date{
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    color: #9c9c9c;
    padding: 1px 0 0 0;
}

.most-read .info .abstract{
    font-size: 16px;
    display: block;
    color: #161616BF;
    padding: 1px 0 0 0;
}

/* SOCIAL NETWORKS */
.media-module{
    display: grid;
    gap: 10px 20px;
}

.media-module a{
    text-decoration: none;
    color: #fff;
    display: flex;
    font-size: 15px;
    font-weight: 700;
    height: 43px;
    line-height: 43px;
}

.media-module a .ico{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    width: 43px;
    border-right: 1px solid #ccc;
    margin-right: 10px;
}

.media-module a .red{
    color: #fff !important;
    width: 100px; 
    margin-right: 15px;
}

.media-module a.fb{
    background: #1a6dd5;
}

.media-module a.fb .ico{
    background: #1864c4;
}

.media-module a.tw{
    background: #57acef;
}

.media-module a.tw .ico{
    background: #51a1de;
}

.media-module a.yt{
    background: #fe0000;
}

.media-module a.yt .ico{
    background: #ec0000;
}

.media-module a.tk{
    background: #fe2b54;
}

.media-module a.tk .ico{
    background: #ed2951;
}

.media-module a.ig{
    background: #0088ce;
}

.media-module a.ig .ico{
    background: #017ec0;
}

.media-module a.gn{
    background: #1a6dd5;
}

.media-module a.gn .ico{
    background: #1864c4;
}


.categories .text{
    display: inline-block;
    position: relative;
    top: -10px;
    background: #fff;
    padding: 0 10px 0 0;
}

.categories .more-information{
    text-decoration: none;
    display: inline-block; 
    position: absolute;
    top: -10px;
    color: #9c9c9c;
    font-size: 12px;
    text-transform: none;
    right: 0;
    background: #fff;
    padding: 0 0 0 10px;
    transition: color 0.5s ease;
}

.categories .more-information:hover{
    color: #161616;
}

/* CATEGORY NOTE BOX */
.categories .noti-box{
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
}

.categories .noti-box figure{
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.categories .noti-box figure img{
    display: block;
    width: 100%;
    height: 100%;
}

.categories .noti-box .info{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 40px 20px 20px 20px;
    /* background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%);
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%); */
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.78) 100%);
}

.categories .noti-box .info .title{
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
}

.categories .noti-box .info .title a{
    text-decoration: none;
    background-image: linear-gradient(#fff,#fff);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 1px;
    transition: background-size 0.3s ease-in-out;
    color: #fff;
}

.categories .noti-box .info .title a:hover{
    background-size: 100% 1px;
    color: inherit;
}

/* PODCAST */
.podcast{
    margin-top: 30px;
    padding: 50px 0;
    background-color: #20282b;
}

.logo-podcast{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.podcast .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.podcast .info .logos a{
    margin: 0 10px;
}

.text-info-podcast{
    color: #f2f1ed;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.logo-podcast svg{
    max-width: 100%;
    display: block;
}

.logo-podcast .title-podcast{
    display: block;
    color: #ff0216;
    font-style: italic;
    font-size: 50px;
    line-height: 52px;
    font-weight: 700;
    margin-top: 20px;
}


/* FOOTER */
.footer{
    width: 100%;
    display: block;
    background: #161c1e;
    padding: 30px 0;
}

.copyright{
    text-align: center;
    font-size: 17px;
    color: #ced1d6;
    font-weight: 700;
    padding: 20px 0 0;
}


/* WHATSAPP BUTTON */
.whatsapp-button{
    position: fixed;
    right: 0.5em;
    bottom: 0.5em;
    width: 60px;
    z-index: 1;
}