*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    padding: 40px 0;
}

.header .logo{
    width: 70%;
}

.item-play{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-play .play{
    padding: 7px;
}

.item-play .play .fa-circle-play{
    font-size: 350%;
} 

.radio-info{
    font-size: 16px;
}

.radio-info .radio-frequency{
    display: block;
}

.navbar{
    width: 100%;
    height: 60px;
    background-color: #ff0216;
}

.navbar .wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20%;
}

.navbar a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.navbar .underline::after{
    content: "";
    height: 1px;
    width: 0;
    background-color: #fff;
    display: block;
    transition: all 300ms
}

.navbar .underline:hover::after{
    width: 100%;
    transition: 0.3s;
}